@import url('../../style_variables.css');

.home-secondary-block-container {
    margin-top: 15%;
   
}

.dropdowns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary-block-title-container {
    text-align: center;
    padding: 0 5%;
}

.dropdown-item-container {
    width: 90%;
    padding: 2%;
    text-align: center;
    margin: 5% auto;
    max-height: 80px;
    border: 1px solid var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height .5s;
}

.dropdown-item-container h4 {
    margin: 5% 0;
}

.dropdown-item-container-active {
    max-height: 500px;
}

.dropdown-toggler {
   opacity: 0;
   transition: opacity .5s;
   margin-top: 3%;
}

.dropdown-toggler-active {
    opacity: 1;
 }

 .get-started-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
 }

.get-started-btn {
    width: 50%;
    padding: 5%;
    background-color: var(--dark-green);
    border-radius: 15px;
}

.get-started-btn a, .get-started-btn a:visited {
   color: var(--white);
   font-weight: 700;
   font-size: 1.1rem;
   text-decoration: none;
}
