@import url('../../../src/style_variables.css');

.header {
    height: 90px;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}

.logo-container {
    height: 100%;
    width: 50%;
}

